---
import AsciiHearts from '../components/AsciiHearts.jsx';
// About page
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mheaton.net</title>
  </head>
  <body id="about">
    <!-- Color overlay for blend effects -->
    <div id="overlay"></div>
    <AsciiHearts client:load containerId="heartsContainer1" />
    <a href="/" id="name">matthew j. heaton</a>
    <div class="" id="icons">
    </div>
    <div class="" id="">
      <div class="content-wrapper">
        <p>I work on the Geospatial Applications Division at <a href="https://ciesin.climate.columbia.edu/">CIESIN</a> in the Climate School at Columbia University, where I am usually designing and refining print-format atlases for <a href="https://grid3.org/">public health in underserved places</a>. My work there has been featured in the <a href="https://www.nytimes.com/2021/08/01/health/coronavirus-vaccination-maps-geospatial.html"> new york times</a>, esri's <a href="https://www.esri.com/content/dam/esrisites/en-us/esri-press/book-pages/toc/map-book-volume-37.pdf">annual map book</a> + elsewhere.</p>
        <p>I have a B.S. in Geography from the State University of New York at Geneseo & and an M.S. in <a href="https://www.arch.columbia.edu/programs/15-m-s-computational-design-practices">Computational Design Practices</a> from the Columbia University Graduate School of Architecture, Planning and Preservation. at GSAPP and the <a href="https://cmc.music.columbia.edu/">Computer Music Center</a>, I spent a <a href="https://gsapp-cdp.github.io/archive/projects/2024/remote-sensing/">lot of time</a> thinking about, visualizing, & sonifying interactions between symbolic "digital" infrastructures and real, consequential "analog" infrastructures.</p>
        <p>Extra-curriculars: playing drums in <a href="https://open.spotify.com/artist/4OXHuuwJIOS603XMyPtEQv?si=CaCzRnxIQsGLf2fUDHbDqQ">rock bands</a>, 
          <a href="https://www.ninaprotocol.com/releases/video-skin-on-preterition">audio</a> / <a href="https://vimeo.com/497973906?share=copy">video</a> synthesis, 
          operating a <a href="https://www.ninaprotocol.com/hubs/ten-tremors">record label</a>, creative coding, web development, alternative process <a href="https://www.instagram.com/math_eaton/">photography</a>, 
          printmaking, <a href="https://en.wikipedia.org/wiki/Bicycle">cycling</a>, etc.</p>
        <p>Based in brooklyn, ny.</p>
      </div>
    </div>
    <script type="module">
      import * as Main from '../scripts/main.js';
      if (Main.init) Main.init();
    </script>
  </body>
</html>
