---
// CV page
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="/src/css/cv.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cv</title>
</head>
<body>
    <a href="/" id="name">matthew j. heaton</a>    
    <!-- <div class="" id="icons">
        <div class="section pointer">
          <img id="colorwheel" src="img/colorwheel.png">
        </div>
    </div> -->

    <br>
    <div id="cv-text">
        <div class="section">
            <h2>Education</h2>
            <h3>Columbia University Graduate School of Architecture, Planning, and Preservation<br>New York, NY</h3>
            <p>Master of Science: Computational Design Practices <br>
            <em>May 2025<br>
            Recipient, Honor Award for Outstanding Capstone in CDP</em></p>

            <h3>State University of New York at Geneseo<br>Geneseo, NY</h3>
            <p>Bachelor of Arts, Dual Degree: Geography and Psychology<br><em> Dec. 2017</em></p>
        </div>

        <div class="section">
            <h2>Skills</h2>
            <ul>
            <li><strong>Geographic Information Systems:</strong> <span id="gis-experience"></span> years of experience using ESRI ArcGIS suite for cartography and advanced spatial analysis. Experience in cartography, data visualization, ArcPy, model building, georeferencing, 3D data analysis, site suitability analysis, network analysis, and management of vector and raster data.</li>
            <li><strong>Technical:</strong> ESRI ArcGIS Pro 3.x/ArcMap 10.x, ArcGIS Online SDK, QGIS, Microsoft Office, Adobe CS, Python, HTML/CSS/JS, SQL, Max/MSP, Rhino 3D and Grasshopper, C++ for Arduino/IoT, circuit design</li>
            </ul>
        </div>

    <script type="module">
        import { calculateExperience } from '/src/js/main.js';
        calculateExperience();
    </script>

        <div class="section">
            <h2>Experience</h2>

            <h3>Associate Officer of Research, Geospatial Applications Division</h3>
            <p><strong>CIESIN in the Climate School at Columbia University</strong> | July 2024 – Present</p>
            <ul>
                <li>Developed, managed, and scaled an enterprise-level map production pipeline including dozens of complex print-format map templates for national-scale routine immunization microplanning and health fieldwork operations as the GRID3 project's principal cartographer.</li>
                <li>Established visual specifications for project-wide digital and print cartography, data visualizations, and public-facing communications material.</li>
                <li>Optimized output products for simultaneous transmission of thousands of detailed atlas pages over unpredictable internet connections.</li>
                <li>Published frontend ArcGIS Online applications for the NASA Socioeconomic Data and Applications Center and GRID3 data hub portal.</li>
                <li>Designed and instructed a three-day cartography workshop in Maputo, Mozambique, to transfer map production methodology to the Mozambican national mapping agency, Agência Nacional de Desenvolvimento Geo-Espacial.</li>
                <li>Guest lectured annually on cartographic methods and design for undergraduate students at the Columbia Climate School.</li>
                <li>Co-authored paper "Developing High-Resolution Population and Settlement Data for Impactful Malaria Interventions in Zambia" (2022) published in the Journal of Environmental and Public Health. Presented paper at the 30th International Cartographic Conference in Florence, Italy.</li>
                <li>Contributed data visualizations for publication in Environment & Urbanization on Low-Elevation Coastal Zones in collaboration with CUNY Baruch College.</li>
                <li>Selected to publish "Modelled Composite Travel Time to Health Facilities, Gwembe District, Zambia" in the Esri Map Book Volume 37 and 2022 Esri User Conference Plenary gallery.</li>
                <li>Exhibited interactive installations for the public at Lamont-Doherty Open House and American Museum of Natural History events.</li>
                <li>Trained external GRID3 consultants on technical cartographic workflows and conventions.</li>
                <li>Contributed ad hoc review and criticism of maps and visualizations produced by other GRID3 staff and partners.</li>
            </ul>

            <h3>Senior Research Staff Assistant, Geospatial Applications Division</h3>
            <p><strong>CIESIN in the Climate School at Columbia University</strong> | Feb. 2019 – July 2024</p>
            <ul>
                <li>idem</li>
            </ul>

            <h3>Non-student Casual Employee</h3>
            <p><strong>CIESIN in the Climate School at Columbia University</strong> | Nov. 2018 – Feb. 2019</p>
            <ul>
                <li>Consolidated an alpha version of settlement and health facility geospatial layers in the Democratic Republic of the Congo.</li>
                <li>Created handbook detailing settlement validation procedure used by field validators.</li>
            </ul>

            <h3>Geographic Information Systems and Planning Intern</h3>
            <p><strong>Livingston County Planning Department</strong> | Sept. 2017 – Dec. 2017</p>
            <ul>
                <li>Digitized, cleaned, & maintained inventory of 1200+ local broadband assets using ESRI ArcGIS.</li>
                <li>Provided technical mapping assistance for local emergency response exercises.</li>
                <li>Applied data management principles for long-term, large-scale storage.</li>
            </ul>

            <h3>Research Assistant, Geography Department Chair</h3>
            <p><strong>Dr. Jennifer Rogalsky, SUNY Geneseo</strong> | July 2017 – Dec. 2017</p>
            <ul>
                <li>Conducted in-person interviews with Red Hook, Brooklyn residents examining community resiliency and changing demographics during redevelopment after Hurricane Sandy.</li>
                <li>Designed multimedia web app using ArcGIS Online and ArcGIS Story Maps as a deliverable tool to advocate for participatory planning in development projects.</li>
            </ul>

            <h3>Research Assistant, Social Psychology Lab</h3>
            <p><strong>Dr. James Allen, SUNY Geneseo</strong> | Sept. 2016 – May 2017</p>
            <ul>
                <li>Developed an IRB-certified short-term study examining environmentalism and altruistic motivations.</li>
                <li>Designed and managed web-based data collections via Sona Systems and proctored in-person sessions.</li>
                <li>Authored independent study examining relationship between well-being and political policy.</li>
            </ul>

            <h3>Design, Layout, & Creative Ads Editor</h3>
            <p><strong>The Lamron Student Newspaper</strong> | Sept. 2016 – Dec. 2017</p>
            <ul>
                <li>Collaborated with editorial board and local businesses for publication of weekly content under time pressure.</li>
                <li>Utilized Adobe Creative Suite for advertisements, header graphics, and typography.</li>
                <li>Practiced responsible graphic design convention to ensure high fidelity of print and web graphics.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Selected Presentations</h2>
            <ul>
                <li>Heaton, Matthew. "Three-Day Cartography Workshop." Agência Nacional de Desenvolvimento Geo-Espacial, 18-20 Apr. 2023, Maputo, Mozambique. Workshop Presentation.</li>
                <li>Heaton, Matthew. "Cartographic Methods and Design." Columbia University Climate School, Spring 2023-25, New York, NY. Guest Lectures.</li>
                <li>Heaton, Matthew. "Creating a Dynamic Map Template for National Scale Malaria Treatment Planning in Zambia." 30th International Cartographic Conference, 14–18 Dec. 2021, Florence, Italy. Paper Presentation.</li>
                <li>Levy, Marc, Linda Pistolesi, Matthew Heaton, and Anela Layugan. "Sustainable World Showcase." Esri User Conference, 8–12 July 2019, San Diego, CA. Poster Presentation.</li>
                <li>Heaton, Matthew. "Scraping Twitter for Evidence of Social Influence in the United States." American Association of Geographers Middle States Conference, 20-21 Oct. 2017, Geneseo, NY. Poster Presentation.</li>
                <li>Rogalsky, Jennifer, and Matthew Heaton. "Using Photographic Inquiry and Story Maps to Understand Community Assets in the Face of Gentrification in Red Hook, Brooklyn." American Association of Geographers Middle States Conference, 20-21 Oct. 2017, Geneseo, NY. Paper Presentation.</li>
            </ul>
        </div>

        <div class="section">
            <h2>Selected Publications & Features</h2>
            <ul>
                <li>Borkovska, Olena, et al. "Developing High-Resolution Population and Settlement Data for Impactful Malaria Interventions in Zambia." Journal of Environmental and Public Health, 2022.</li>
                <li>Featured in "Seeking to Eradicate Malaria, Zambia Turns to Geospatial Data." ArcNews, 2023.</li>
                <li>Featured in "'X' Marks the Spot: Officials Map a Route Out of the Pandemic." The New York Times, 2021.</li>
                <li>Sobel, Corey, et al. "Harmonising Subnational Boundaries." GRID3 Whitepaper, 2020.</li>
            </ul>
        </div>

        <div class="section">
            <h2>References</h2>
            <ul>
                <li><strong>Paola Kim-Blanco</strong><br>Senior Research Associate, Center for International Earth Science Information Network<br>61 Rte 9W, Palisades, NY 10964<br>845.365.8988 (ext. 8950)<br><a href="mailto:pblanco@ciesin.columbia.edu">pblanco@ciesin.columbia.edu</a><br>Principal Investigator, GRID3</li>

                <li><strong>Linda Pistolesi</strong><br>Senior Geographic Information Specialist, Center for International Earth Science Information Network<br>61 Rte 9W, Palisades, NY 10964<br>845.365.8799 (ext. 8799)<br><a href="mailto:lpistole@ciesin.columbia.edu">lpistole@ciesin.columbia.edu</a><br>Supervisor, CIESIN</li>

                <li><strong>Dr. Jennifer Rogalsky</strong><br>Associate Professor of Geography, SUNY Geneseo<br>Bailey Hall, Bank St, Geneseo, NY 14454<br>585.245.6197<br><a href="mailto:rogalsky@geneseo.edu">rogalsky@geneseo.edu</a><br>Research Advisor, SUNY Geneseo</li>
            </ul>
        </div>
    </div>
  
<script type="module" src="/src/js/main.js"></script>
</body>
</html>
