---
import RandomVisualization from '../components/RandomVisualization.jsx';
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>mheaton.net</title>
</head>
<body id="homepage">
    <!-- Color overlay for blend effects -->
    <div id="overlay"></div>
    <div class="figure interactive pointer">
      <RandomVisualization client:load />
    </div>
    <!-- <div id="p5-container"></div> -->
    <div class="section pointer" id="name">
      <a href="/" id="">matthew j. heaton</a>
    </div>
    <div class="section" id="links">
      <div class="section pointer text">
        <a class="plain_link" href="/about">about</a>
      </div>
      <div class="section pointer text">
        <a class="plain_link" href="https://gsapp-cdp.github.io/archive/projects/2024/remote-sensing/" target="_blank" rel="noopener noreferrer">selected work</a>
      </div>
      <div class="section pointer text">
        <a class="plain_link" href="/cv">cv</a>
      </div>
      <div class="section pointer text">
        <a class="plain_link" href="javascript:void(0);" onclick="copyEmailToClipboard(event, 'matthew.j.heaton@gmail.com')">contact</a>
        <div id="copyMessage" class="copy-message">email copied to clipboard : &#41;	</div>
      </div>
    </div>
      <div class="" id="icons">
        <div class="section pointer">
          <img id="colorwheel" src="/img/colorwheel.png">
        </div>
    </div>
    <script>
      // copy email to clipboard and show a temporary message
      function copyEmailToClipboard(event, email) {
        navigator.clipboard.writeText(email).then(function() {
          var copyMessage = document.getElementById("copyMessage");
          copyMessage.classList.add("show");
          setTimeout(function () {
            copyMessage.style.opacity = "0";
            setTimeout(function () {
              copyMessage.classList.remove("show");
              copyMessage.style.opacity = "1";
            }, 500);
          }, 1000);
        }).catch(function(err) {
          console.error('Failed to copy email: ', err);
        });
      }

      window.copyEmailToClipboard = copyEmailToClipboard;

      document.getElementById('colorwheel')?.addEventListener('click', () => {
        const hexCodes = ['#3a6ea5', '#444444', '#c25237', '#524bd0', '#344242'];
        const randomColor = hexCodes[Math.floor(Math.random() * hexCodes.length)];
        document.getElementById('overlay').style.backgroundColor = randomColor;
      });
    </script>
</body>
</html>
