* {
  cursor: url('../cursor/arrow.cur'), auto;
}

*:mouseDown:hover {
  cursor: url('../cursor/arrow.cur'), auto;
}

html {
  height: 100%;
  text-transform: lowercase;
  cursor: url('../cursor/arrow.cur'), auto;
  overflow: hidden;
}

mousedown.grabbing {
  cursor: grabbing;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #ececec;
  margin: 0;
  padding: 0;
  height: 100%;
  user-select: none;
  cursor: url('../cursor/arrow.cur'), auto;
  background: #a0a0a0;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow: auto;
  overflow-x: hidden;
  position: relative;
  zoom: 100%;
  transition: zoom 0.3s;
  mix-blend-mode:exclusion;
}

.plain_link {
    text-decoration: none;
    filter: none;
}

a {
  color: #00ff00;
  mix-blend-mode:color-burn;
  /* text-decoration: none; */
}

a:visited {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  color: #c0c0c0;
  /* text-decoration: none; */
  cursor: url('../cursor/point.cur'), auto;
}

a:active {
  text-decoration: none;
}

button {
  cursor: url('../cursor/point.cur'), auto;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: left;
  gap: 2vh;
  margin-top: 1vh;
  padding: 1vw;
}

.pointer {
  padding: 1em;
}

.copy-message {
  position: absolute;
  display: none;
  /* background-color: #333; */
  color: #fff;
  /* padding: 5px; */
  /* border-radius: 3px; */
  font-size: 2rem;
  opacity: 1;
  transition: opacity 0.35s ease-out;
  z-index: 1000;
}

.copy-message.show {
  display: block;
}


#name {
  padding-bottom: 20vh;
}

#links {
  position: absolute;
  bottom: 10vh;
  z-index: 2;
}

.vis-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  filter: contrast(0.7);
  image-rendering: pixelated;
}

#asciiContainer1, #contourContainer1{
  cursor: url('../cursor/point.cur'), auto;
  user-select: none;
  /* width: 100%;
  height: 100%; */
  display: none;
}

#heartsContainer1 {
  width: 0%;
}

#perpetualContainer1 {
  width: 0%;
  z-index: -1;
}

#about {
  max-height: 90vh;
  margin-top: 33vh;
  margin-left: 33vw;
  margin-right: 33vw;
  z-index: 3;
  color: #000000;
  background-color: #00ffc38d;
  background-blend-mode: exclusion;
  padding: 0.25em;
  mix-blend-mode:exclusion;
  /* color: black; */
}

#me {
  max-width: 33%;
  margin-left: 33vw;
  margin-right: 33vw;
  padding-top: 10vh;
  filter: grayscale(1) contrast(0.75);
  user-select: none;
}

.figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.figure img {
  max-width: 100%;
  max-height: 50vh;
  object-fit: scale-down;
  display: block;
}

.figure .interactive {
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  object-fit: scale-down;
  display: block;
}

.cursor-trail {
  position: absolute;
  width: 20px; 
  height: 25px;
  background-size: cover;
  pointer-events: none;
  animation: fadeOut 1s forwards;
  mix-blend-mode: luminosity;
  z-index: 9999999999;
}

.default-cursor-trail {
  background-image: url("../cursor/arrow.png");
}

.pointer-cursor-trail {
  background-image: url("../cursor/point.png");
}

.text-cursor-trail {
  background-image: url("../cursor/ibeam.png");
}

.crosshair-cursor-trail {
  background-image: url("../cursor/whiteCrosshair.png");
}

.invert {
  filter: invert();
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 1.1;
    transform: scale(1);
  }
}

@keyframes rotate-oscillation {
  0%,
  100% {
    transform: rotate(-5deg) translateY(-2px);
  }
  50% {
    transform: rotate(5deg) translateY(2px);
  }
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  body {
    padding: 0.5em;
    zoom: 100%;
    font-size: large;
  }

  .section {
    flex-direction: column;
    align-items: flex-start;
    gap: 1vh;
    margin-top: 1em;
    padding: 1em;
  }

  .pointer {
    width: 100%;
    padding: 1.5em;
    text-align: center;
  }

  #name {
    margin-top: -5em;
    padding: 1.5em;
    z-index: 3;
  }

  .vis-container {
    width: 100vw;
    height: 100vh;
    /* filter: contrast(0.7); */
    /* mix-blend-mode:exclusion; */
  }

  #links {
    margin-top: 1em;
    padding: 5em;
    margin: -5em;
  }

  #about {
margin: 5vh;
padding: 0.25em;
  }

  #me {
    visibility: hidden;
  }

  /* .cursor-trail {
    filter: invert();
  } */

  #contourContainer1{
    top: -15vh;
    /* width: 25%; */
    /* mix-blend-mode:luminosity; */
  }
}
